<component name="ArtifactManager">
  <artifact type="jar" name="SpringBackGround:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringBackGround_jar</output-path>
    <root id="archive" name="SpringBackGround.jar">
      <element id="module-output" name="SpringBackGround" />
    </root>
  </artifact>
</component>