<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- Mapper 파일을 위치시킬 곳 설정 -->
    <mappers>
        <mapper resource="mapper/OwnerMapper.xml"/>
        <mapper resource="mapper/ShopMapper.xml"/>
        <mapper resource="mapper/ShopPhoneMapper.xml"/>
        <mapper resource="mapper/SaleMapper.xml"/>
        <mapper resource="mapper/PhoneMapper.xml"/>
    </mappers>
</configuration>
